.bx--data-table-container {
  margin-left: -90px;
}

.bx--header__action {
  width: auto;
  margin-right: 40px;
  color: white;
}

.bx--toolbar-action {
  margin-right: 20px;
}
.table {
  height: auto;
  width: 50%;
  margin-top: 100px;
  margin-left: 300px;
}

.modal-form {
  margin-left: 70px;
  margin-right: 70px;
}

.bx--data-table-header__title {
  margin-left: 296px;
}

.bx--modal-header {
  padding-left: 230px;
  font-weight: 500;
  font-size: large;
}

.addButton {
  display: flex;
}

.bx--modal-content {
  width: auto;
}

.bx--form-item {
  margin-top: 20px;
}
