.login-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-left: 470px;
  margin-top: 110px;
  height: 100%;
  border-radius: 15px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2);
}

.signup-form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin-left: 470px;
  margin-top: 50px;
  height: 100%;
  border-radius: 15px;
  box-shadow: -15px -15px 15px rgba(255, 255, 255, 0.2),
    15px 15px 15px rgba(0, 0, 0, 0.2);
}

.avatar {
  height: 120px;
  margin-left: 75px;
}

.signInHeader {
  margin-left: 100px;
  margin-top: 16px;
  font-size: 22px;
}

.registerHeader {
  margin-left: 100px;
  margin-top: 16px;
  font-size: 22px;
}

.bx--form-item {
  margin-top: 20px;
}

.submit-button {
  margin-top: 20px;
  width: auto;
  border: none;
  height: auto;
  font-size: 17px;
  border-radius: 13px;
}

.signup-link {
  margin-left: 20px;
}

// .signup-link{

// }
